@{
    ViewData["Title"] = "خانه";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="align-content-center">
    <div class="container">
        <div class="form-row">
            <div class="col-md-3">
                <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="Vehicles" asp-action="Index">فرم <br /> خودرو ها</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="SellingInfoes" asp-action="Index">فرم <br /> اطلاعات فروش</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="SellingBranches" asp-action="Index">فرم اطلاعات <br /> نمایندگی فروش</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="SellingInfoes" asp-action="Report">صفحه <br /> گزارش فروش</a>
            </div>
        </div>
    </div>
</div>

